<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">userId = {{.UserId}}</script>
    <script src="https://use.fontawesome.com/d4922747f1.js"></script>
    <title>lovel.io</title>
</head>
<body>
    <nav>
        <ul>
            <li><b><a href="/">lovel.io</a></b></li>
            {{ range $key, $value := .BoardNames }}
            <li><a href="javascript:showBoard({{ $key }})">{{ $value }}</a></li>
            {{ end }}
            <li><a href="javascript:newBoard()"><i class="fa fa-plus" aria-hidden="true"></i></a></li>
        </ul>
    </nav>
    <section>
        <div class='main'>

        </div>
    </section>
</body>
</html>
